// Specific CSS for your home-page
@font-face {
   font-family: 'OneDay';
   src: url('/assets/OneDay.otf')
}

@font-face {
  font-family: 'Stellar-light';
  src: url('/assets/Stellar-light.otf');
}

.banner {
  position: absolute;
}

#milky-way {
  height: 100%;
  width: 100%;
}

.text-banner {
  font-family: 'OneDay';
  font-size: 15px;
  text-shadow: 0 0 10px #FFFFFF;
  position: relative;
  color: #FFFFFF;
  bottom: 600px;
  letter-spacing: 0.1em;
  margin-left: 100px;
}

h1 {
  font-family: 'OneDay';
  letter-spacing: 0.1em;
}

.btn-banner {
  font-family: 'Stellar-light';
  letter-spacing: 0.1em;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color:#ffffff;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  color: #666666;
  opacity: 0.9;
  text-align: center;
  font-size: 14px;
  padding: 6px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.btn-banner:hover {
  background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color:#f6f6f6;
}

.btn-banner:active {
  position:relative;
  top: 1px;
}

.search-form {
  opacity: 0.8;
  position: relative;
  font-family: 'Stellar-light';
  margin-left: 800px;
  margin-right: 200px;
  background: rgba(0,0,0,0.5);
  border-radius: 5px;
  padding: 10px 0px 0px 0px;
  bottom: 20px;
}

.form-control {
  border-radius: 5px;
  font-family: sans-serif;
}

.col-lg-7 {
  width: 50%;
  margin-right: 0px;
}

.btn-search {
  border-radius: 5px;
}
