<div class="banner">
   <div class="text-banner">
      <h1>Welcome to Rental Planet</h1>
      <p>The luxury space vacation rentals</p>
      <button type="button" class="btn btn-light rental-planet-main-btn">Explore worlds nearby</button>
   </div>
   <div class="search-form">
      <div class="row">
         <div class="col-lg-12">
            <form action="" method="">

               <div class="form-group col-lg-12">
                  <label for="Location">Location</label>
                  <input type="text" class="form-control" id="Location" placeholder="Where are you going?">
               </div>

               <div class="form-group col-lg-12">
                  <label for="CheckIn">Check in </label>
                  <input type="date" class="form-control" id="CheckIn" placeholder="Add dates">
               </div>

               <div class="form-group col-lg-12">
                  <label for="CheckOut">Check out </label>
                  <input type="date" class="form-control" id="CheckOut" placeholder="Add dates">
               </div>

               <div class="form-group col-lg-9">
                  <label for="Guests">Guests </label>
                  <select id="Guests" name="guests" class="form-control">
                     <option value="1">1000 guests</option>
                     <option value="2">2000 guests</option>
                     <option value="3">3000 guests</option>
                     <option value="4">4000 guests</option>
                     <option value="5">5000 guests</option>
                     <option value="6">6000 guests</option>
                     <option value="7">7000 guests</option>
                     <option value="8">8000 guests</option>
                     <option value="9">9000 guests</option>
                     <option value="10">10.000 guests</option>
                  </select>
               </div>

               <div class="form-group col-lg-6">
                  <button type="submit" class="btn btn-outline-warning btn-search">Search</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

<div class="moons-satellites">
  <div class="cards-smaller">

    <div class="cards-moons-satellites">
      <img src="/assets/callisto.jpg" width="100" height="100" alt="callisto">
      <h3>Callisto</h3>
      <p>628,300,000km</p>
    </div>

    <div class="cards-moons-satellites">
      <img src="/assets/europa.jpg" width="100" height="100" alt="europa">
      <h3>Europa</h3>
      <p>628,300,000km</p>
    </div>

    <div class="cards-moons-satellites">
      <img src="/assets/ganymede.jpg" width="100" height="100" alt="ganymede">
      <h3>Ganymede</h3>
      <p>628,300,000km</p>
    </div>

    <div class="cards-moons-satellites">
      <img src="/assets/io.jpg" width="100" height="100" alt="io">
      <h3>Io</h3>
      <p>628,300,000km</p>
    </div>

    <div class="cards-moons-satellites">
      <img src="/assets/moon.jpg" width="100" height="100" alt="moon">
      <h3>Moon</h3>
      <p>384,400km</p>
    </div>

    <div class="cards-moons-satellites">
      <img src="/assets/rhea.jpg" width="100" height="100" alt="rhea">
      <h3>Rhea</h3>
      <p>1,272,000,000km</p>
    </div>

    <div class="cards-moons-satellites">
      <img src="/assets/tethys.jpg" width="100" height="100" alt="tethys">
      <h3>Tethys</h3>
      <p>1,272,000,000km</p>
    </div>

    <div class="cards-moons-satellites">
      <img src="/assets/titan.jpg" width="100" height="100" alt="titan">
      <h3>Titan</h3>
      <p>1,222,000km</p>
    </div>
  </div>
</div>

<div class="solar-system">
   <h2>Solar System</h2>
   <div class="cards">

      <div class="cards-planet">
         <img src="/assets/jupiter.jpg" width="200" height="200" alt="jupiter">
         <p>Jupiter<p>
      </div>

      <div class="cards-planet">
         <img src="/assets/mars.jpg" width="200" height="200" alt="mars">
         <p>Mars</p>
      </div>

      <div class="cards-planet">
         <img src="/assets/pluto.jpg" width="200" height="200" alt="pluto">
         <p>Pluto<p>
      </div>

      <div class="cards-planet">
         <img src="/assets/venus.jpg" width="200" height="200" alt="venus">
         <p>Venus</p>
      </div>

   </div>
</div>
