<div class="banner">
  <img src='/assets/banner.jpeg' id="milky-way" alt="Milky Way">
  <div class="text-banner">
    <h1>Welcome to Rental Planet</h1>
    <p>The luxury space vacation rentals</p>
    <button type="button" class="btn btn-light btn-banner">Explore worlds nearby</button>
  </div>
</div>
