.background-black {
  height: 750px;
  background-image: image-url('universe-black.jpeg');
  background-size: contain;
  background-repeat: repeat;
  font-family: "OneDay";
  color: #FFFFFF;
  text-shadow: 0 0 10px #FFFFFF;
  letter-spacing: 0.1em;

  .request h1 {
    font-family: "OneDay";
    padding: 45px 0 0 115px;
  }

  .bookings {
    padding-top: 65px;
    display: flex;
    justify-content: center;
  }

  .btn-back {
    font-family: "Stellar-light";
    margin: 20px 0 0 110px;
    border-radius: 5px;
    color: #f58634;
    text-shadow: none;
    letter-spacing: 0;
  }

  .btn-back:hover {
    color: white;
  }

  .no-booking {
    font-family: "Stellar-light";
    text-align: left;
  }

  a {
    color: #FFFFFF;
    text-decoration: none;
  }

  table, th, td {
    border: 1px solid rgb(230,230,230);
    box-shadow: 0 0 5px rgb(230,230,230);
    text-align: center;
    padding: 15px;

    th {
      font-size: 20px;
    }

    td {
      font-family: "Stellar-light";
    }
  }
}
