.container-user {
  background-color: black;
  padding: 50px 0;

  h1 {
    color: #FFFFFF;
    text-shadow: 0 0 10px #FFFFFF;
    letter-spacing: 0.1em;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
  }

  .btn-profile {
    display: flex;
    justify-content: space-between;
    margin: 20px 200px 0;
  }

  .btn-edit {
    font-family: "Stellar-light";
    text-shadow: none;
    margin: 0;
    letter-spacing: 0;
  }

  .user-profile {
    margin: 0 200px;
    padding: 0 100px 50px;
    border: 1px solid rgb(230,230,230);
    box-shadow: 0 0 5px rgb(230,230,230);
    text-align: center;

    img {
      display: block;
      margin: 20px auto 50px auto;
    }

    h2, p {
      color: #FFFFFF;
      text-shadow: 0 0 10px #FFFFFF;
      letter-spacing: 0.1em;
    }

    h2 {
      margin: 20px 0;
      font-size: 32px;
    }

    p {
      font-family: "Stellar-light";
      padding: 0;
      margin: 0;
    }

    .user-planet {
      display: inline-grid;
      padding-right: 10px;

      a {
        text-decoration: none;
        color: #FFFFFF;
      }
    }
  }
}
