.rental-planet-main-btn {
  font-family: 'Stellar-light';
  background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color:#ffffff;
  border-radius: 5px;
  cursor: pointer;
  color: #666666;
  opacity: 0.9;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  width: 25%;
  margin: auto;
  position: absolute;
  top: 47%;
  left: 37.5%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-color: #dcdcdc;
  color: black;
  box-shadow: 0 0 40px 40px #ffffff inset, 0 0 0 0 #ffffff;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.rental-planet-main-btn:hover {
  box-shadow: 0 0 10px 0 #ffffff inset, 0 0 10px 4px #ffffff;
}
