.cards {
  display: flex;
  justify-content: space-around;
}

.cards-planet-solar-system {
  margin-bottom: 30px;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: right;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
}

.card-planet-index {
  border-radius: 5px;
  border: 1px solid rgb(230,230,230);
  box-shadow: 0 0 5px rgb(230,230,230);
  padding-bottom: 20px;
  padding-top: 30px;
  margin-bottom: 50px;
}

.cards-smaller {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cards-moons-satellites {
  flex-basis: 25%;
}

.cards-moons-satellites h3 {
  margin-top: 8px;
  margin-bottom: 0px;
  font-family: 'Stellar-light';
  font-size: 16px;
  color: black;
}

.cards-moons-satellites p {
  font-family: 'Stellar-light';
  font-size: 12px;
  margin-bottom: 8px;
  color: black;
  padding-left: 0px;
}

.cards-moons-satellites img {
  border-radius: 10px;
}
