.form-inline {
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;

  .form-control {
    width: 600px;
    background-color: black;
    color: white;
    border: 1px solid rgb(230,230,230);
    box-shadow: 0 0 5px rgb(230,230,230);
  }

  .form-control::placeholder {
    color: #e6e6e6;
  }
}
